﻿/*
Theme Name:  Teikei
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://carollino.com.br
Description: Teikei.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Teikei
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}

/*TOPO*/
	header.topo{
		position: absolute;
		top: 0;
		z-index: 999;
		left: 0;
		width: 100%;
	}
		header.topo .logo{
			text-align: center;
			background: #fff;
			padding: 10px;
			height: 110px;
			position: relative;
		}
			header.topo .logo a{
				display: block;
			}
				header.topo .logo img{
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
	                -moz-transform: translate(-50%, -50%);
	                -o-transform: translate(-50%, -50%);
					max-width: 180px;
					height: auto;
				}
		header.topo .contatos{
			background: #1c2c66;
			padding: 10px;
		}
		header.topo .contatos .redesSociais{
		
		}
			header.topo .contatos .redesSociais a{
				color: #fff;
				margin: 0 7px;
				font-size: 16px;
				font-weight: 300;
			}
				header.topo .contatos .redesSociais a i{
		
				}
		header.topo .contatos .contatosTelefone{
			float: right;
		}
			header.topo .contatos .contatosTelefone a{
				color: #fff;
				margin: 0 5px;
				font-size: 13px;
				font-weight: 300;
			}
		header.topo .navbar-toggle{
			display: none;
			margin: 40px auto 0;
			float: inherit;
		}
			header.topo .navbar-toggle span{
				background: #fff;
				display: block;
				width: 39px;
				height: 3px;
				margin: 6px 0;
			}
			.navbar{
				border: none;
			}
		header.topo .navbar-header{
			float: inherit;
			display: block;
			width: 100%;
		}
			header.topo .navbar-header .navbar-collapse{
			
			}
				
					.header.topo .navbar-header .navbar-collapse ul{

					}
					header.topo .navbar-header .navbar-collapse ul li{
						float: inherit;
						display: inline-block;
						position: relative;
					}
							
						header.topo .navbar-header .navbar-collapse ul li a{
							color: #fff;
						}
						header.topo .navbar-header .navbar-collapse ul li a:after{
							position: absolute;
							top: 90%;
							left: 0;
							width: 100%;
							height: .5px;
							content: '';
							-webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
							-moz-transition: height .3s, opacity .3s, -moz-transform .3s;
							transition: height .3s, opacity .3s, transform .3s;
							-webkit-transform: translateY(-10px);
							-moz-transform: translateY(-10px);
							transform: translateY(-10px);
							opacity: 0;
							background: #1c2c66;
						}
							header.topo .navbar-header .navbar-collapse ul li a:hover:after{
								height: 3px;
								-webkit-transform: translateY(-4px);
								-moz-transform: translateY(-4px);
								transform: translateY(-4px);
								opacity: 1;
							}
							header.topo .navbar-header .navbar-collapse ul li a:hover{
								background: transparent;
							}
							header.topo .navbar-header .navbar-collapse ul li a:active{
								background: transparent;
							}
							header.topo .navbar-header .navbar-collapse ul li a:focus{
								background: transparent;
							}
				header.topo .navbar-header .navbar-collapse ul li .sub-menu.nav.navbar-nav{
				    position: absolute;
    				background: #fff;
    				top: 44px;
    				display: none;
				}
				header.topo .navbar-header .navbar-collapse ul li:hover ul.sub-menu.nav.navbar-nav{
					display: block;
				}
						header.topo .navbar-header .navbar-collapse ul .sub-menu.nav.navbar-nav li{
				    		color: #1c2c66;
				    		display: block;
				    		width: 100%;
						}	
						header.topo .navbar-header .navbar-collapse ul .sub-menu.nav.navbar-nav li a{
				    		color: #1c2c66;
				    		display: block;
    						width: 100%;
    						padding: 15 10px;
						}				

/*RODAPÉ*/
	.rodape{
		background: #263980;
		padding: 10px;	
		padding-bottom: 40px;
	}
		.rodape .conteudo{
			max-width: 275px;
			margin: 0 auto;
		}
		.conteudoMobile{
			display: none;
		}
			.rodape .conteudo img{
				margin: 50px 0 30px;
			}
			.rodape .conteudo p{
				color:#2a88d8;
			}
			.rodape .conteudo a{
				color: #fff;
				margin: 30px 7px;
				font-size: 20px;
				font-weight: 300;
				display: inline-block;
			}
				.rodape .conteudo a i{
		
				}
			.rodape .mapaSite{
		   		 margin-top: 50px;
		   		 padding:0 15px;
			}
				.rodape .mapaSite span{
					color: #fff;
					display: block;
					text-transform: uppercase;
				    margin-bottom: 20px;
				    text-align: left;
				}
					.rodape .mapaSite span:after{
						content: '';
						display: block;
						height: 1px;
						width: 100%;
						background: #2a88d8;
						margin-top: 10px;
					}
				.rodape .mapaSite .linkcontato{
				    padding: 0 0 0 35px;
				}
				.rodape .mapaSite ul{
					list-style: none;
					padding: 0;
				}
				.rodape .mapaSite a{
					color: #fff;
					display: block;
					margin-bottom: 20px;
				    font-weight: 300;
				    position: relative;
				}
					.rodape .mapaSite a:after{
						content: '';
						display: block;
						background-repeat: no-repeat!important;
						position: absolute;
						width: 26px;
						height: 26px;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}
					.rodape .mapaSite a.rodapePhone:after{
						background: url(img/rodapePhone.png);
					}
					.rodape .mapaSite a.rodapeWhats:after{
						background: url(img/rodapeWhats.png);
					}
					.rodape .mapaSite a.rodapeEmail:after{
						background: url(img/rodapeEmail.png);
					}
					.rodape .mapaSite a.rodapePin:after{
						background: url(img/rodapePin.png);
					}
					.rodape .mapaSite a:hover:after{
						opacity: 0.5;
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}

/*COPYRIGHT*/
	.copyright{
		padding: 10px;
		background: #1c2c66
	}
		.copyright p{
			color: #fff;
			font-weight: 300;
			margin: 0;
			font-size: 14px;
		}
			.copyright p i{
		
			}
			.copyright p img{
		
			}

/*ESTILOS GERAIS*/
	.sessao{

	}
	.containerArea{
		width: 100%;
		display: block;
		max-width:1024px;
		margin: 0 auto;
	}
	section>h6,h5{
		text-align: center;
		font-size: 25px;
		color: #263980;
		margin-bottom: 20px;
	}
	section>p{
		color: #9ba3a7;
		text-align: center;
	}
	.pg .bannerTopo{
		height: 300px;
		width: 100%;
		position: relative;
	}
		.pg .bannerTopo:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			z-index: 9;
			background: rgba(50, 56, 76, 0.38);
			position: absolute;
		}
		.pg .bannerTopo p{
			color: #fff;
			font-size: 35px;
			margin: 0;
			position: absolute;
			bottom: 25px;
			z-index: 9;
		}
	.pg .mapaGoogle .desk{
		display: block;
		width: 100%;
		height: auto;
	}
	.pg .mapaGoogle .hiddenNone{
		display: none;
		width: 100%;
		height: auto;
	}
	.pg .linkNavegacao{
		padding: 10px;
	}
		.pg .linkNavegacao a{
			padding: 8px 30px;
			background: transparent;
			border-radius: 20px;
			color: #2a88d8;
			display: inline-block;
			margin-top: 25px;
			text-decoration: none;
			border: solid #2a88d8 1px;
			margin: 40px auto 0;
		}
			.pg .linkNavegacao a:hover{
				background:#2a88d8;
				color: #fff;
			}
			.pg .linkNavegacao  span{
				color: #bbc4cc;
			    margin-left: 20px;
			}
			.pg .linkNavegacao  small{
				color: #263980;
				font-weight: 500;
			}
	.pg .areaFomrularioContato .form input[type="submit" i]{

	}
	.pg .areaFomrularioContato .form input[type="text"],input[type="tel"]{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg .areaFomrularioContato .form input[type="text"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
				.pg .areaFomrularioContato .form input[type="tel"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
			.pg .areaFomrularioContato .form input[type="submit"]{
				padding: 8px 45px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 20px auto 0;
			}
				.pg .areaFomrularioContato .form input[type="submit"]:hover{
					background:#2a88d8;
					color: #fff;
				}
			.pg .areaFomrularioContato .form select{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
			.pg .areaFomrularioContato .form textarea{
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				display: block;
				height: 140px;
				min-height: 140px;
				max-height: 180px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg .areaFomrularioContato .form textarea:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
				.pg .areaFomrularioContato .col-sm-3{
				    padding-left: 20px;
				}

/*PÁGINA INICIAL*/
	.pg-inicial{

	}
		.pg-inicial .carrosselDestaque{
			position: relative;
		}
			.pg-inicial .carrosselDestaque button{
				position: absolute;
				z-index: 999;
				font-size: 80px;
				background: transparent;
				border: none;
				color: #fff;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				outline: none;
				margin: 0;
				padding: 0;
			}
			.pg-inicial .carrosselDestaque #btnCarrosselDestaqueLeft{
				left: 25px;
			}
			.pg-inicial .carrosselDestaque #btnCarrosselDestaqueRight{
				right: 25px;
			}
			.pg-inicial .carrosselDestaque .item{
				display: block;
				position: relative;
				min-height: 500px;
				background-position: center!important;
				background-size: cover!important;
				
			}
				.pg-inicial .carrosselDestaque .item:before{
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					z-index: 9;
					background: rgba(50, 56, 76, 0.38);
					position: absolute;
				}
				.pg-inicial .carrosselDestaque .item .texto{
					position: absolute;
					top: 190px;
					z-index: 99;
					padding: 10px;
					max-width: 340px;
				}
					.pg-inicial .carrosselDestaque .item .texto p{
						font-size: 27px;
						color: #fff;
						margin: 0;
						line-height: 35px;
					}
					.pg-inicial .carrosselDestaque .item .texto a{
						padding: 8px 30px;
						background: #2a88d8;
						border-radius: 20px;
						color: #fff;
						display: inline-block;
						margin-top: 25px;
						text-decoration: none;
						border: solid 1px transparent;
					}
						.pg-inicial .carrosselDestaque .item .texto a:hover{
							background: #1c2c66!important;
							border-color: #fff;
						}
	.pg-inicial .areaSobre{
		max-width: 795px;
		margin: 0 auto;
		padding-top: 100px;
	}
		.pg-inicial .areaSobre h5,h1,h2,h3,h4,h6{
			text-align: center;
			font-size: 25px;
			color: #263980;
			margin-bottom: 20px;
		}
		.pg-inicial .areaSobre p{
			color: #9ba3a7;
			font-size: 16px;
			text-align: center;
			line-height: 30px;
		}
	.pg-inicial .areaParceiros{
		margin-top: 100px;
	}
		.pg-inicial .areaParceiros .item{
			text-align: center;
			display: block;
			width: 100%;
		}
			.pg-inicial .areaParceiros .item img{
				display: block;
				width: 100%;
				max-width: 175px;
				height: auto;
				margin: 0 auto;
			}
	.pg-inicial .areaAssistenciaTecnica{
		margin-top: 100px;
		position: relative;
	}
		.pg-inicial .areaAssistenciaTecnica .areaConteudo{
			background: #ecf3f9;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			right: 0;
			width: 100%;
			max-width:50%;
			min-height: 360px;
			padding: 10px;
		}
			.pg-inicial .areaAssistenciaTecnica  img{
				display: block;
				height: auto;
				max-width: 668px;
			}
			.pg-inicial .areaAssistenciaTecnica .areaConteudo article{
				max-width: 500px;
				margin: 0 auto;
			}
				.pg-inicial .areaAssistenciaTecnica .areaConteudo article img{
					display: block;
					margin-top: 25px;
					margin-bottom: 25px;
				}
				.pg-inicial .areaAssistenciaTecnica .areaConteudo article h3{
					color: #263980;
					margin-bottom: 30px;
					margin-top: 30px;
				}
				.pg-inicial .areaAssistenciaTecnica .areaConteudo article p{
					max-width: 380px;
					color: #738697;
					line-height: 25px;
				}	
				.pg-inicial .areaAssistenciaTecnica .areaConteudo article a{
					padding: 8px 30px;
					background: #2a88d8;
					border-radius: 20px;
					color: #fff;
					display: inline-block;
					margin-top: 25px;
					text-decoration: none;
				}
					.pg-inicial .areaAssistenciaTecnica .areaConteudo article a:hover{
						background: #263980;
					}	
	.pg-inicial .areaInfos{
		margin-top: 100px;
	}
		.pg-inicial .areaInfos ul{
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;
			display: -webkit-flex;
			display: flex;
			max-width: 924px;
			margin: 0 auto;

		}
			.pg-inicial .areaInfos ul li{
				display: inline-block;
				width: 100%;
				max-width: 308px;
			    padding: 40px 30px;
				vertical-align: top;
				text-align: left;
				margin: 10px auto;
				transition:All .5s ease;
				-webkit-transition:All .5s ease;
				-moz-transition:All .5s ease;
				-o-transition:All .5s ease;
			}
				.pg-inicial .areaInfos ul li:hover{
					-webkit-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
					-moz-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
					box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
				}
				.pg-inicial .areaInfos ul li img{
					margin-bottom: 25px;
				}
					.pg-inicial .areaInfos ul li:hover img{
						-w-webkit-animation: pulse 1s ease;
						animation: pulse 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}	
				.pg-inicial .areaInfos ul li h3{
					color: #263980;
					margin: 0;
					font-size: 20px;
					font-weight: 500;
					margin-bottom: 15px;
					text-align: left;
				}	
				.pg-inicial .areaInfos ul li p{
					color: #9ba3a7;
					font-size: 13px;
					margin: 0;
					line-height: 23px;
				}	
				.pg-inicial .areaInfos ul li a{
					color: #2a88d8;
					display: inline-block;
					margin-top: 30px;
					opacity: 0;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
				}
					.pg-inicial .areaInfos ul li:hover a{
						opacity: 1;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
					}	
	.pg-inicial .areaDepoimentos{
		background: #edf4fa;
		padding:100px 0;
		margin-top: 100px;
		display:none;
	}
		.pg-inicial .areaDepoimentos .depoimento{
			padding: 0 15px;
		}
			.pg-inicial .areaDepoimentos .depoimento img{
				display: block;
				width: 100%;
				max-width: 80px;
				border-radius: 100%;
				height: 80px;
				margin: 0 auto;
			}
			.pg-inicial .areaDepoimentos .depoimento p{
				color: #9ba3a7;
				font-weight: 300;
				font-size: 14px;
				line-height: 23px;
				margin: 0;
			}	
			.pg-inicial .areaDepoimentos .depoimento h3{
				color: #2e3192;
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
			    margin: 8px 0;
			}	
			.pg-inicial .areaDepoimentos .depoimento strong{
				color: #2a88d8;
				font-size: 13px;
				font-weight: 400;
			}
	.pg-inicial .areaProdutos{
		margin-top: 100px;
		position: relative;
	}
		#carrosselProdutos{
			background: rgba(246, 246, 246, 0.39);
			padding: 15px 0;
			margin-top: 50px;
		}
		.pg-inicial .areaProdutos .item{
			display: block;
			background: #fff;
			text-decoration: none;
			margin: 0 15px;
			padding-bottom: 30px;
		}
			.pg-inicial .areaProdutos .item figure{
				display: block;
				width: 100%;
			}
				.pg-inicial .areaProdutos .item img{
					display: block;
					width: 100%;
					height: auto;
					margin: 0 auto;
				}
			.pg-inicial .areaProdutos .item h2{
				color:#263980;
				margin: 0;
				font-size: 14px;
				padding: 20px 15px 0;
				font-weight: 500;
				text-align: left;
				min-height: 45px;
			}
			.pg-inicial .areaProdutos .item strong{
				color:#263980;
				margin: 0;
				font-size: 15px;
				padding: 0 15px;
				font-weight: 500;
			}
			.pg-inicial .areaProdutos .item p{
				color: #9ba3a7;
				margin: 0;
				padding: 0 15px;
				font-weight: 300;
				font-size: 13px;
				margin-top: 15px;
			}
			.pg-inicial .areaProdutos .item span{
				color: #2a88d8;
				margin: 30px 0 0;
				padding: 0 15px;
				display: inline-block;
				font-weight: 300;	
			}
		.pg-inicial .areaProdutos .areaCaroosel{
			position: relative;
			max-width: 1340px;
			margin: 0 auto;
		}
		.pg-inicial .areaProdutos button{
				position: absolute;
				z-index: 999;
				font-size: 80px;
				background: transparent;
				border: none;
				color: #dbe0e4;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				outline: none;
				margin: 0;
				padding: 0;
			}
			.pg-inicial .areaProdutos #btnCarrosselProdutoLeft{
				left: 30px;
			}
			.pg-inicial .areaProdutos #btnCarrosselProdutoRight{
				right: 30px;
			}
	.pg-inicial .areaNoticias{
		margin-top: 100px;	
	}
		.pg-inicial .areaNoticias .noticias{
			background: url(img/fundoBlog.jpg);
			background-position-y: bottom!important;
			background-repeat: no-repeat!important;
			height:733px;
		}
			.pg-inicial .areaNoticias .noticias .col-md-4{
				
			}
			.pg-inicial .areaNoticias .noticias .post{
				display: block;
				text-decoration: none;
				margin:20px auto;
				width: 100%;
			    max-width: 325px;
			    background: #fff;
			    padding-bottom: 20px;
			}
				.pg-inicial .areaNoticias .noticias .post figure{
					display: block;
				    height: 180px;
					background-size:cover!important;
					background-position: center!important; 
					webkit-transition: all .6s ease-in-out;
						-moz-transition: all .6s ease-in-out;
						-o-transition: all .6s ease-in-out;
						transition: all .6s ease-in-out;
				}
					.pg-inicial .areaNoticias .noticias .post:hover figure{
						webkit-transition: all .6s ease-in-out;
						-moz-transition: all .6s ease-in-out;
						-o-transition: all .6s ease-in-out;
						transition: all .6s ease-in-out;
						background-position: 100% 70%!important;
					}
				.pg-inicial .areaNoticias .noticias .post h2{
					margin: 20px 0;
					color: #263980;
					padding: 0 15px;
					font-size: 18px;
					text-align: left;
					font-weight: 400;
    			}
				.pg-inicial .areaNoticias .noticias .post p{
					margin: 0;
					color: #9ba3a7;
					font-weight: 300;
					font-size: 13px;
					padding: 0 15px;
					line-height:25px;
				}
				.pg-inicial .areaNoticias .noticias .post span{
					color: #2a88d8;
					margin: 25px 0 0;
					padding: 0 15px;
					display: inline-block;
					font-weight: 300;
				}
		.pg-inicial .areaNoticias .linkBlog{
			padding: 8px 30px;
			background: transparent;
			border-radius: 20px;
			color: #2a88d8;
			display: inline-block;
			margin-top: 25px;
			text-decoration: none;
			border: solid #2a88d8 2px;
			margin: 40px auto 0;
		}
			.pg-inicial .areaNoticias .linkBlog i{
				font-size: 20px;
				vertical-align: bottom;
				margin-left: 20px;
			}
			.pg-inicial .areaNoticias .linkBlog:hover{
				background: #2a88d8;
				color: #fff;
			}
	.pg-inicial .areaFomrularioContato{
		margin-top: 100px;
		margin-bottom: 50px;
	}
		.pg-inicial .areaFomrularioContato .form{
			padding: 10px;
			max-width: 495px;
			margin: 25px auto 0;
			text-align: center;
		}
			.pg-inicial .areaFomrularioContato .form input{
				
			}
			.pg-inicial .areaFomrularioContato .form input[type="text"],input[type="email"]{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-inicial .areaFomrularioContato .form input[type="text"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
				.pg-inicial .areaFomrularioContato .form input[type="email"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
			.pg-inicial .areaFomrularioContato .form input[type="submit"]{
				padding: 8px 45px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 20px auto 0;
			}
				.pg-inicial .areaFomrularioContato .form input[type="submit"]:hover{
					background:#2a88d8;
					color: #fff;
				}
			.pg-inicial .areaFomrularioContato .form textarea{
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				display: block;
				height: 140px;
				min-height: 140px;
				max-height: 180px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-inicial .areaFomrularioContato .form textarea:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
	.pg-inicial .mapaGoogle{

	}		
		
/*PÁGINA EMPRESA*/
	.pg-empresa{

	}
		.pg-empresa .bannerTopo{
		
		}
			.pg-empresa .bannerTopo p{
		
			}
		.pg-empresa .linkNavegacao{
		
		}
			.pg-empresa .linkNavegacao a{
		
			}
				.pg-empresa .linkNavegacao span{
		
				}
		.pg-empresa .areaHistoria{
			padding: 10px;
			position: relative;
			margin-top: 50px;
		}
			.pg-empresa .areaHistoria h6{
				text-align: left;
			}	
			.pg-empresa .areaHistoria article{
				max-width: 785px;
				display: block;
				line-height: 25px;
				font-weight: 400;
			}
				.pg-empresa .areaHistoria article p{
					color: #9ba3a7;
					text-align: left;
					z-index: 9;
					position: relative;
				}
				.pg-empresa .areaHistoria img{
					position: absolute;
					right: 15px;
					top: 0;
					
				}
		.pg-empresa .areaEstrutura{
			margin-top: 100px;
			background:url(img/fundoEstrutura.jpg);
			background-repeat:repeat-y!important;
			-webkit-mask-position-x: left!important;
			padding: 64px 0 64px;
		
		}	
			.pg-empresa .areaEstrutura h6{
				text-align: left;
				font-size: 25px;
				color: #263980;
				margin-bottom: 20px;
			}	
			.pg-empresa .areaEstrutura .textEstrutura{
				padding-top: 65px;
			}			
				.pg-empresa .areaEstrutura .textEstrutura p{
					color: #9ba3a7;
					max-width: 440px;
					line-height: 27px;
					font-size: 14px;
					font-weight: 400;
				}	
		.pg-empresa .areaEstrutura .carrosselImagemEstrutura{
			position: relative;
			max-width: 450px;
		}
			.pg-empresa .areaEstrutura .carrosselImagemEstrutura .owl-dots {
				background: transparent;
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-o-transform: translateX(-50%);
			}
			.pg-empresa .areaEstrutura .carrosselImagemEstrutura .owl-dot{
				display: inline;
			}
			.pg-empresa .areaEstrutura .carrosselImagemEstrutura .owl-dot span{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 6px 7px;
				border: 1px solid transparent;
				border-radius: 20px;
				background: transparent;
				border: solid 1px #fff;
			}
			.pg-empresa .areaEstrutura .carrosselImagemEstrutura .owl-dot.active span{
				background:#2a88d8;
			}
			.pg-empresa .areaEstrutura .carrosselImagemEstrutura .item{
				display: block;
				width: 100%;
				height: 450px;
				background-size: cover!important;
				background-position: center!important;
			}	
		.pg-empresa .areaEspecialista{
			margin-bottom: 100px;
			margin-top: 100px;
			display:none;
		}	
			.pg-empresa .areaEspecialista h6{

			}	
				.pg-empresa .areaEspecialista p{

				}	
				.pg-empresa .areaEspecialista ul{
					padding: 0;
					list-style: none;
					text-align: center;
					margin-top: 40px;
				}
					.pg-empresa .areaEspecialista ul li{
						display: inline-block;
					    margin: 20px 40px;
					}	
						.pg-empresa .areaEspecialista ul li figure{
							border-radius: 100%;
							display: block;
							width: 150px;
							background-position: center!important;
							background-size: cover!important;
							height: 150px;
							margin: 0 auto;
							border: solid 1px #ccc;
						}	
							.pg-empresa .areaEspecialista ul li:hover figure{
								-w-webkit-animation: pulse 1s ease;
								animation: pulse 1s ease;
								-webkit-animation-iteration-count: 1;
								animation-iteration-count: 1;

							}
						.pg-empresa .areaEspecialista ul li h3{
							font-size: 18px;
							margin-top: 28px;
							color: #263980;
							margin: 20px 0 10px;
						}	
						.pg-empresa .areaEspecialista ul li p{
							color: #9ba3a7;
							margin: 0;
						}	

/*PÁGINA ASSISTÊNCIA TÉCNICA*/
	.pg-assistenciaTecnica{

	}
		.pg-assistenciaTecnica .areaTextoassistencia{
			margin-top: 40px;
		}
			.pg-assistenciaTecnica .areaTextoassistencia .texto{
				line-height: 25px;
				font-weight: 400;
				max-width: 435px;
			}
				.pg-assistenciaTecnica .areaTextoassistencia .texto h6{
					font-size: 25px;
					color: #263980;
					text-align: left;
				}
				.pg-assistenciaTecnica .areaTextoassistencia .texto p{
					color: #9ba3a7;
					text-align: left;
					margin-top: 35px;
					text-align: left;
				}
		.pg-assistenciaTecnica .carrosselImagemAssistencia{

		}
			.pg-assistenciaTecnica .carrosselImagemAssistencia .item{

			}
		.pg-assistenciaTecnica .carrosselImagemAssistencia{
			position: relative;
			padding:0 20px;
		}
			.pg-assistenciaTecnica .carrosselImagemAssistencia .owl-dots {
				background: transparent;
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-o-transform: translateX(-50%);
			}
			.pg-assistenciaTecnica .carrosselImagemAssistencia .owl-dot{
				display: inline;
			}
			.pg-assistenciaTecnica .carrosselImagemAssistencia .owl-dot span{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 6px 7px;
				border: 1px solid transparent;
				border-radius: 20px;
				background: transparent;
				border: solid 1px #fff;
			}
			.pg-assistenciaTecnica .carrosselImagemAssistencia .owl-dot.active span{
				background:#2a88d8;
			}
			.pg-assistenciaTecnica .carrosselImagemAssistencia .item{
				display: block;
				width: 100%;
				height: 400px;
				background-size: cover!important;
				background-position: center!important;
			}
		.pg-assistenciaTecnica .areaLista{
			margin-top: 50px;
		}
			.pg-assistenciaTecnica .areaLista h6{

			}
			.pg-assistenciaTecnica .areaLista .lista{

			}
				.pg-assistenciaTecnica .areaLista .lista ul{
					padding: 0;
					list-style: none;
				}
					.pg-assistenciaTecnica .areaLista .lista ul li{
						margin-bottom: 15px;
					}
						.pg-assistenciaTecnica .areaLista .lista ul li{

						}
							.pg-assistenciaTecnica .areaLista .lista ul li p{
								color: #9ba3a7;
							}
								.pg-assistenciaTecnica .areaLista .lista ul li p i{
									color: #3e8acc;
									font-size: 24px;
									margin-right: 15px;
								}
		.pg-assistenciaTecnica .areaParceiros h6{
			color: #738697;
			font-size: 15px;
		    margin-bottom: 30px;
		    font-weight: 300;
		}
		.pg-assistenciaTecnica .areaParceiros{
			margin-top: 100px;
			background:#edf4fa;
			padding: 50px 0 60px;
		}
			.pg-assistenciaTecnica .areaParceiros .item{
				text-align: center;
				display: block;
				width: 100%;
			}
				.pg-assistenciaTecnica .areaParceiros .item img{
					display: block;
					width: 100%;
					max-width: 175px;
					height: auto;
					margin: 0 auto;
				}
	.pg-assistenciaTecnica .areaFomrularioContato{
		margin-top: 100px;
		margin-bottom: 50px;
	}
		.pg-assistenciaTecnica .areaFomrularioContato .form{
			padding: 10px;
			max-width: 495px;
			margin: 25px auto 0;
			text-align: center;
		}
			.pg-assistenciaTecnica .areaFomrularioContato .form input{
				
			}
			.pg-assistenciaTecnica .areaFomrularioContato .form input[type="text"]{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-assistenciaTecnica .areaFomrularioContato .form input[type="text"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
			.pg-assistenciaTecnica .areaFomrularioContato .form input[type="submit"]{
				padding: 8px 45px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 20px auto 0;
			}
				.pg-assistenciaTecnica .areaFomrularioContato .form input[type="submit"]:hover{
					background:#2a88d8;
					color: #fff;
				}
			.pg-assistenciaTecnica .areaFomrularioContato .form textarea{
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				display: block;
				height: 140px;
				min-height: 140px;
				max-height: 180px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-assistenciaTecnica .areaFomrularioContato .form textarea:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}

/*PÁGINA TREINAMENTO*/
	.pg-treinamentos{

	}
		.pg-treinamentos .areaTexto{
			padding: 10px;
		}
			.pg-treinamentos .areaTexto h6{
				margin-top: 50px;
			}
			.pg-treinamentos .areaTexto article{
				text-align: center;
				max-width: 655px;
				display: block;
				line-height: 25px;
				font-weight: 400;
				margin: 0 auto;
			}
				.pg-treinamentos .areaTexto article p{
					color: #9ba3a7;
				}
		.pg-treinamentos .proximosCursos{
			margin-top:100px;
			background:#edf4fa;
		    min-height: 460px;
			padding: 50px 0; 
		}
			.pg-treinamentos .proximosCursos h6{
		
			}
			.pg-treinamentos .proximosCursos p{
		
			}
			.pg-treinamentos .proximosCursos .post{
				background: #fff;
				padding: 10px;
				max-width: 910px;
				margin: 40px auto 0;
				position: relative;
			}
				.pg-treinamentos .proximosCursos .post .data{
				}
					.pg-treinamentos .proximosCursos .data span{
						display: inline-block;
						background: #2a88d8;
						color: #fff;
						text-align: center;
						text-transform: uppercase;
						font-size: 30px;
						font-weight: 300;
						padding: 16px 30px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						left: -30px;
					}
				.pg-treinamentos .proximosCursos .post .areaDescricao{
	
				}
					.pg-treinamentos .proximosCursos .post .areaDescricao h2{
						color: #263980;
						font-size: 18px;
					    margin-bottom: 20px;
					}
					.pg-treinamentos .proximosCursos .post .areaDescricao span{
						color:#2a88d8;
					    margin-bottom: 15px;
					    display: block;
					}
					.pg-treinamentos .proximosCursos .post .areaDescricao p{
					    color: #9ba3a7;
					    font-weight: 300;
					}
				.pg-treinamentos .proximosCursos .post .link{
					width: 100%;
					border-left: solid 2px #edf4fa;
					height: 164px;
					position: relative;
					text-align: center;
				}
					.pg-treinamentos .proximosCursos .post .link a{
						padding: 8px 30px;
						background: transparent;
						border-radius: 20px;
						color: #2a88d8;
						display: inline-block;
						text-decoration: none;
						border: solid #2a88d8 2px;
						margin: 70px auto 0;
					}
						.pg-treinamentos .proximosCursos .post .link a:hover{
							background: #2a88d8;
							color:#fff;
						}
						.pg-treinamentos .proximosCursos .post .link a i{
							font-size: 18px;
							margin-left: 14px;
							vertical-align: bottom;
						}
	.pg-treinamentos .areaFomrularioContato{
		margin-top: 100px;
		margin-bottom: 50px;
	}
		.pg-treinamentos .areaFomrularioContato .form{
			padding: 10px;
			max-width: 495px;
			margin: 25px auto 0;
			text-align: center;
		}
			.pg-treinamentos .areaFomrularioContato .col-sm-3{
			    padding-left: 20px;
			}
			.pg-treinamentos .areaFomrularioContato .form input{
				
			}
			.pg-treinamentos .areaFomrularioContato .form input[type="text"]{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
			.pg-treinamentos .areaFomrularioContato .form select{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-treinamentos .areaFomrularioContato .form input[type="text"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
			.pg-treinamentos .areaFomrularioContato .form input[type="submit"]{
				padding: 8px 45px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 20px auto 0;
			}
				.pg-treinamentos .areaFomrularioContato .form input[type="submit"]:hover{
					background:#2a88d8;
					color: #fff;
				}
			.pg-treinamentos .areaFomrularioContato .form textarea{
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				display: block;
				height: 140px;
				min-height: 140px;
				max-height: 180px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-treinamentos .areaFomrularioContato .form textarea:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}

/*PÁGINA DE PRODUTOS*/
	.pg-produtos{

	}
		.pg-produtos{
		
		}
		
		.pg-produtos .areaHistoria{
			padding: 10px;
			position: relative;
			margin-top: 50px;
		}
			.pg-produtos .areaHistoria article>h2{
				text-align: left;
			}	
			.pg-produtos .areaHistoria article{
				max-width: 785px;
				display: block;
				line-height: 25px;
				font-weight: 400;
			}
				.pg-produtos .areaHistoria article p{
					color: #9ba3a7;
					text-align: left;
					z-index: 9;
					position: relative;
				}
				.pg-produtos .areaHistoria img{
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					max-width: 220px;
				}
	.pg-produtos .areaProdutos{
		margin-top: 100px;
		text-align: center;
		position: relative;
	}
		
		.pg-produtos .areaProdutos .item{
			display: inline-block;
			background: #fff;
			text-decoration: none;
			margin: 20px 15px;
			padding-bottom: 30px;
			width: 100%;
			max-width: 434px;
			text-align: left;
			transition:All .5s ease;
			-webkit-transition:All .5s ease;
			-moz-transition:All .5s ease;
			-o-transition:All .5s ease;
			vertical-align: top;
		}
			.pg-produtos .areaProdutos .item:hover{
				-webkit-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
				-moz-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
				box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
				transition:All .5s ease;
				-webkit-transition:All .5s ease;
				-moz-transition:All .5s ease;
				-o-transition:All .5s ease;
			}
			.pg-produtos .areaProdutos .item figure{
				display: block;
				width: 100%;
				height: 185px;
				background: #f6f6f6;
				overflow: hidden;
			}
				.pg-produtos .areaProdutos .item img{
					display: block;
					width: 100%;
					max-width: 270px;
					height: auto;
					margin: 0 auto;
				}
			.pg-produtos .areaProdutos .item h2{
				color: #263980;
				margin: 20px 0 0;
				font-size: 15px;
				padding: 0px 15px;
				font-weight: 500;
				text-align: left;
			}
			.pg-produtos .areaProdutos .item strong{
				color:#263980;
				margin: 0;
				font-size: 15px;
				padding: 0 15px;
				font-weight: 500;
			}
			.pg-produtos .areaProdutos .item p{
				color: #9ba3a7;
				margin: 0;
				padding: 0 15px;
				font-weight: 300;
				font-size: 13px;
				margin-top: 15px;
				text-align: left;
			    max-width: 430px;
			}
			.pg-produtos .areaProdutos .item span{
				color: #2a88d8;
				margin: 15px 0 0;
				padding: 0 15px;
				display: inline-block;
				font-weight: 300;

			}

		.pg-produtos .areaProdutos .areaCaroosel{
			position: relative;
		}
		.pg-produtos .areaProdutos button{
				position: absolute;
				z-index: 999;
				font-size: 80px;
				background: transparent;
				border: none;
				color: #dbe0e4;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				outline: none;
				margin: 0;
				padding: 0;
			}

/*PRODUTO*/
	.pg-produto{

	}
		.pg-produto .areaProduto{
			margin-top: 40px;
		}
			.pg-produto .areaProduto .especificacoes{
				padding:10px;
			}
				.pg-produto .areaProduto .especificacoes h2{
					color:#263980;
					font-size: 27px;
					text-align: left;
				}
				.pg-produto .areaProduto .especificacoes span{
					color: #9ba3a7;
					font-weight: 300;
				}
				.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia{
					margin-top: 50px;
				}		
					.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .item{
						display: block;
						width: 100%;
						max-width: 460px;
						height: 365px;
						background-size: cover!important;
						background-position: center!important;
					}
		.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .owl-dots {
				background: transparent;
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-o-transform: translateX(-50%);
			}
		.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .owl-dot{
				display: inline;
			}
		.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .owl-dot span{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 6px 7px;
				border: 1px solid transparent;
				border-radius: 20px;
				background: transparent;
				border: solid 1px #fff;
			}
		.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .owl-dot.active span{
				background:#2a88d8;
			}
				.pg-produto .areaProduto .especificacoes article{
					display: block;
					max-width: 380px;
				    margin-top:123px;
				    margin-bottom: 40px;
				}
					.pg-produto .areaProduto .especificacoes article p{
						color: #9ba3a7;
						font-weight: 300;
						line-height: 25px;
					}
					.pg-produto .areaProduto .especificacoes a{
						display: block;
					}
					.pg-produto .areaProduto .especificacoes .linkBaixarArquivos{
					color: #1c2c66;
								font-weight: 500;
position: relative;
padding: 0 60px;
height: 63px;
line-height: 80px;
					}
					.pg-produto .areaProduto .especificacoes .linkBaixarArquivos:before{
						content: '';
						display: block;
						background: url(img/setadonwload.png);
						height: 47px;
						width: 41px;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
					}
					.pg-produto .areaProduto .especificacoes .linkOrcamento{
						padding: 8px 30px;
						background: transparent;
						border-radius: 20px;
						color: #2a88d8;
						display: inline-block;
						margin-top: 25px;
						text-decoration: none;
						border: solid #2a88d8 1px;
						margin: 45px auto 0;
					}
			.pg-produto  .areaEspecificacoes{
				background:#edf4fa;
				padding: 50px 0;
				margin-top: 100px;
			}
				.pg-produto  .areaEspecificacoes .texto{
					padding: 0 20px;
				}
				
				.pg-produto  .areaEspecificacoes .texto strong{
					color: #9ba3a7;
					font-weight: 400;
					position: relative;
					padding-left: 15px;
					margin-bottom: 10px;
					display: block;
				}
					.pg-produto  .areaEspecificacoes .texto strong:before{
						background: #2a88d8;
						content:'';
						display: block;
						width: 6px;
						height: 6px;
						border-radius: 100%;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
					}
					.pg-produto  .areaEspecificacoes .texto h6{
						color: #738697;
						font-size: 22px;
						font-weight: 400;
						margin-bottom: 40px;

					}
						.pg-produto  .areaEspecificacoes .texto h6:after{
							content:'';
							display: block;
							height: 1px;
							background: #263980;
							width: 100%;
							margin-top: 15px;
						}
					.pg-produto  .areaEspecificacoes .texto p{
						color: #9ba3a7;
						font-weight: 300;
						line-height: 25px;
					}
					.pg-produto  .areaEspecificacoes .texto li{
						color: #9ba3a7;
						font-weight: 300;
						line-height: 25px;
					}
					.pg-produto  .areaEspecificacoes .texto.direito p{
						padding-left: 20px;
						margin-bottom: 10px;
					}
					.pg-produto  .areaEspecificacoes .texto.esquerdo p{
						position: relative;
						padding-left: 15px;
					}
						.pg-produto  .areaEspecificacoes .texto.esquerdo p:before{
							background: #2a88d8;
							content:'';
							display: block;
							width: 6px;
							height: 6px;
							border-radius: 100%;
							position: absolute;
							left: 0;
							top: 8px;
						}
	.pg-produto .areaFomrularioContato{
		margin-top: 100px;
		margin-bottom: 50px;
	}
		.pg-produto .areaFomrularioContato .form{
			padding: 10px;
			max-width: 495px;
			margin: 25px auto 0;
			text-align: center;
		}
			.pg-produto .areaFomrularioContato .form input{
				
			}
			.pg-produto .areaFomrularioContato .form input[type="text"],input[type="tel"]{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-produto .areaFomrularioContato .form input[type="text"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
				.pg-produto .areaFomrularioContato .form input[type="tel"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
			.pg-produto .areaFomrularioContato .form input[type="submit"]{
				padding: 8px 45px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 20px auto 0;
			}
				.pg-produto .areaFomrularioContato .form input[type="submit"]:hover{
					background:#2a88d8;
					color: #fff;
				}
			.pg-produto .areaFomrularioContato .form select{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
			.pg-produto .areaFomrularioContato .form textarea{
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				display: block;
				height: 140px;
				min-height: 140px;
				max-height: 180px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-produto .areaFomrularioContato .form textarea:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
				.pg-produto .areaFomrularioContato .col-sm-3{
				    padding-left: 20px;
				}
		.pg-produtos .areaEspecificacoes.zoll  p:before{
			display: none;
		}
		.pg-produtos .areaEspecificacoes.zoll  strong:before{
			display: none;
		}
		.pg-produtos .areaEspecificacoes.zoll  strong{
			font-weight: bold;
		}

		.pg-produto .areaEspecificacoes.zoll .texto strong:before{
			font-weight: bold;
			display: none;
		}
		.pg-produto .areaEspecificacoes.zoll .texto strong{
			font-weight: bold;
			padding-left: 0;
		}
		.pg-produto .areaEspecificacoes.zoll .texto h5{
			text-align: left;
		}

/*BLOG*/
	.pg-blog{

	}
		.pg-blog .areaBlog{
		
		}
			.pg-blog .areaBlog .areaPost{
				margin-top: 50px;
			}
				.pg-blog .areaBlog .areaPost ul{
					padding: 10px;
					list-style: none;
				}
					.pg-blog .areaBlog .areaPost ul li{
						display: block;
						text-align: left;
						margin-bottom: 30px;
						transition: All .5s ease;
						-webkit-transition: All .5s ease;
						-moz-transition: All .5s ease;
						-o-transition: All .5s ease;
					}
						.pg-blog .areaBlog .areaPost ul li:hover a{
							-webkit-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							-moz-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							transition: All .5s ease;
							-webkit-transition: All .5s ease;
							-moz-transition: All .5s ease;
							-o-transition: All .5s ease;
						}
						.pg-blog .areaBlog .areaPost ul li a{
							display: block;
							text-decoration: none;
						}
							.pg-blog .areaBlog .areaPost ul li a figure{
								display: block;
								height: 220px;
								max-width: 346px;
								background-size: cover!important;
								background-position: center!important;
								margin: 0 auto;
								position: relative;
							}
								.pg-blog .areaBlog .areaPost ul li a figure .data{
									display: inline-block;
									background: #2a88d8;
									color: #fff;
									text-transform: uppercase;
									font-size: 33px;
									text-align: center;
									padding: 20px 15px;
									line-height: 25px;
									letter-spacing: 5px;
									position: absolute;
									left: -20px;
									top: 50%;
									transform: translateY(-50%);
									-webkit-transform: translateY(-50%);
									-moz-transform: translateY(-50%);
									-o-transform: translateY(-50%);
								}
									.pg-blog .areaBlog .areaPost ul li a figure .data span{
										display: block;
										font-size: 17px;
										font-weight: 300;
										letter-spacing: 0px;
									}

							.pg-blog .areaBlog .areaPost ul li a .descricaoPost{
								padding: 0 10px;
							}
								.pg-blog .areaBlog .areaPost ul li a .descricaoPost h2{
									color: #263980;
									font-size: 22px;
									text-align: left;
								}
								.pg-blog .areaBlog .areaPost ul li a .descricaoPost p{
									color: #bbc4cc;
									line-height: 25px;
									margin-top: 17px;
									margin-bottom: 20px;
								}
								.pg-blog .areaBlog .areaPost ul li a .descricaoPost span{
									color: #2a88d8;
									font-size: 16px;
								}	
			.pg-blog .sidebar{
				margin-top: 50px;
				padding:0 10px; 
			}
				.pg-blog .sidebar strong{
					color: #263980;
					font-size: 18px;
					font-weight: 500;
				}
					.pg-blog .sidebar strong:after{
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: #263980;
						margin-top: 8px;
					}
				.pg-blog .sidebar .categorias{
					margin-top: 30px;
					margin-bottom: 50px;
				}
					.pg-blog .sidebar .categorias a{
						color: #263980;
						display: block;
						font-weight:300;
						margin-bottom: 15px;
						text-decoration: none;
						-webkit-transition: All .5s ease;
						-moz-transition: All .5s ease;
						-o-transition: All .5s ease;
						padding: 0 5px;
					}
						.pg-blog .sidebar .categorias a:hover{
							-webkit-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							-moz-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							transition: All .5s ease;
							-webkit-transition: All .5s ease;
							-moz-transition: All .5s ease;
							-o-transition: All .5s ease;
						}
						.pg-blog .sidebar .categorias a.ativo{
							-webkit-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							-moz-box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.12);
							transition: All .5s ease;
							-webkit-transition: All .5s ease;
							-moz-transition: All .5s ease;
							-o-transition: All .5s ease;
						}
						.pg-blog .sidebar .categorias a:after{
							content: '';
							display: block;
							width: 100%;
							height: 1px;
							background: #e0e9f1;
							margin-top: 8px;
						}
		.pg-blog .paginador{

		}
			.pg-blog .paginador ul{
				padding: 0;
				list-style: none;
				text-align: center;
				margin-top: 25px;
				margin-bottom: 100px;
			}
				.pg-blog .paginador ul li{
					display: inline-block;
					margin: 0 1px;
				}
					.pg-blog .paginador ul li a{
						text-decoration: none;
						color: #bbc4cc;
						font-size: 19px;
						border-bottom: 2px solid #bbc4cc;
						padding: 0px 20px;
					}
						.pg-blog .paginador ul li a:hover{
							color:#2a88d8;
							border-color:#2a88d8;
						}

/*PÁGINA POST BLOG*/
	.pg-post{

	}
		.pg-post .areaBlog{
		
		}
			.pg-post .areaBlog .areaPost{
				margin-top: 50px;
			}
				.pg-post .areaBlog .areaPost ul{
					padding: 10px;
					list-style: none;
				}
					.pg-post .areaBlog .areaPost ul li{
						display: inline-block;
						margin-bottom: 30px;
					}
						.pg-post .areaBlog .areaPost ul li{
							display: block;
						}
							.pg-post .areaBlog .areaPost ul li figure{
								display: block;
								height: 220px;
								width: 100%;
								background-size: cover!important;
								background-position: center!important;
								position: relative;
							}
								.pg-post .areaBlog .areaPost ul li figure .data{
									display: inline-block;
									background: #2a88d8;
									color: #fff;
									text-transform: uppercase;
									font-size: 33px;
									text-align: center;
									padding: 20px 15px;
									line-height: 25px;
									letter-spacing: 5px;
									position: absolute;
									left: -20px;
									top: 50%;
									transform: translateY(-50%);
									-webkit-transform: translateY(-50%);
									-moz-transform: translateY(-50%);
									-o-transform: translateY(-50%);
								}
									.pg-post .areaBlog .areaPost ul li figure .data span{
										display: block;
										font-size: 17px;
										font-weight: 300;
										letter-spacing: 0px;
									}

							.pg-post .areaBlog .areaPost ul li .descricaoPost{
								padding: 0 30px;
							}
								.pg-post .areaBlog .areaPost ul li .descricaoPost h2{
									color: #263980;
									font-size: 25px;
								}
								.pg-post .areaBlog .areaPost ul li .descricaoPost p{
									color: #bbc4cc;
									line-height: 30px;
									margin-top: 17px;
									margin-bottom: 20px;
									font-weight: 400;
								}
									.pg-post .areaBlog .areaPost ul li .descricaoPost strong{
										color: #263980;
									}
								.pg-post .areaBlog .areaPost ul li .descricaoPost span{
									color: #2a88d8;
									font-size: 16px;
								}	
			.pg-post .sidebar{
				margin-top: 50px;
				padding:0 10px; 
			}
				.pg-post .sidebar strong{
					color: #263980;
					font-size: 18px;
					font-weight: 500;
				}
					.pg-post .sidebar strong:after{
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: #263980;
						margin-top: 8px;
					}
				.pg-post .sidebar .categorias{
					margin-top: 30px;
					margin-bottom: 50px;
				}
					.pg-post .sidebar .categorias a{
						color: #263980;
						display: block;
						font-weight:300;
						margin-bottom: 15px;
						text-decoration: none;
					}
						.pg-post .sidebar .categorias a:after{
							content: '';
							display: block;
							width: 100%;
							height: 1px;
							background: #e0e9f1;
							margin-top: 8px;
						}
		.pg-post .paginador{
			padding: 0 25px;
			margin-bottom: 50px;
		}
				
			.pg-post .paginador a{
				padding: 8px 40px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 40px auto 0;
			}
				.pg-post .paginador a:hover{
					color:#fff;
					background:#2a88d8;
				}

/*PÁGINA DE CONTATO*/
	.pg-contato{

	}
		.pg-contato section .informacoesContato h6{
			font-size: 25px;
			color: #263980;
			margin-bottom: 25px;
			text-align: left;
		}
			.pg-contato section .informacoesContato p{
				text-align: left;
				color: #9ba3a7;
				line-height: 26px;
				max-width: 390px;
			}
		.pg-contato .areaFormulario{
			margin-top: 50px;
		}
			.pg-contato .informacoesContato ul{
				list-style: none;
				padding: 0;
				margin-top: 25px;
			}
				.pg-contato .informacoesContato ul li{
					    margin-bottom: 20px;
					    position: relative;
				}
					.pg-contato .informacoesContato ul li a{
						color: #263980;
						font-size: 15px;
						position: relative;
					    padding-left: 0;
					}
					.pg-contato .informacoesContato ul li a:after{
						content: '';
						display: block;
						width: 26px;
						height: 26px;
						background-size: cover!important;
						background-position: center!important;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						left: -35px;
					}
					.pg-contato .informacoesContato ul li.telefone a:after{
						background: url(img/telefoneIcons.png);
					}
					.pg-contato .informacoesContato ul li.whats a:after{
						background: url(img/WhatsIcons.png);
					}
					.pg-contato .informacoesContato ul li.email a:after{
						background: url(img/emailIcons.png);
					}
					.pg-contato .informacoesContato ul li.endereco a:after{
						background: url(img/pinIcon.png);
					}

	.pg-contato .areaFomrularioContato{
		
	}
		.pg-contato .areaFomrularioContato .form{
			padding: 10px;
			max-width: 495px;
			margin: 0 auto 0;
			text-align: center;
		}
			.pg-contato .areaFomrularioContato .col-sm-3{
			    padding-left: 20px;
			}
			.pg-contato .areaFomrularioContato .form input{
				
			}
			.pg-contato .areaFomrularioContato .form input[type="text"]{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
			.pg-contato .areaFomrularioContato .form select{
				width: 100%;
				display: block;
				height: 40px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-contato .areaFomrularioContato .form input[type="text"]:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}
			.pg-contato .areaFomrularioContato .form input[type="submit"]{
				padding: 8px 45px;
				background: transparent;
				border-radius: 20px;
				color: #2a88d8;
				display: inline-block;
				margin-top: 25px;
				text-decoration: none;
				border: solid #2a88d8 2px;
				margin: 20px auto 0;
			}
				.pg-contato .areaFomrularioContato .form input[type="submit"]:hover{
					background:#2a88d8;
					color: #fff;
				}
			.pg-contato .areaFomrularioContato .form textarea{
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				display: block;
				height: 140px;
				min-height: 140px;
				max-height: 180px;
				border: solid 1px #cad4dc;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 20px;
				outline: none;
				font-size: 15px;
			}
				.pg-contato .areaFomrularioContato .form textarea:focus{
					color: #2a88d8;
					border-color: #2a88d8;
				}

/*EXTRAS*/
	.wpp-list {
		padding: 0;
		list-style: none;
	    margin-top: 45px;
	}
	.wpp-list li {
	    margin: 15px 0;
	}
	.wpp-post-title {
	    font-weight: 500;
	    text-decoration: none;
	}
	.wpp-post-title {
	    font-weight: 500;
	    padding-top: 20px;
	    display: inherit;
	    color: #263980;
	}
/*@MEDIAS*/
	@media(max-width: 1125px){
		.pg-inicial .areaAssistenciaTecnica  img{
			max-width: 60%;
		}
		.pg-inicial .areaAssistenciaTecnica .areaConteudo{
			max-width: 50%;
		}	
	}
	@media(max-width: 991px){
		.pg-produtos .areaProdutos .item{
			max-width: 300px;
		}
		.pg-inicial .carrosselDestaque .item .texto{
			left: 110px;
		}
		.correcaoContainer{
			width: 100%;
			padding:0 10px;
		}
		.pg-inicial .areaNoticias .noticias .post{
			padding: 0 10px;
		}
		.pg-produtos .areaHistoria img{
			display: none;
		}
		.pg-inicial .areaAssistenciaTecnica .areaConteudo {
			background: #ecf3f9;
			position: inherit;
			top: inherit;
			transform: inherit;
			-webkit-transform: inherit;
			-moz-transform: inherit;
			-o-transform: inherit;
			max-width: 100%;
		}
		.pg-inicial .areaAssistenciaTecnica .areaConteudo article{
			max-width: 100%;
			padding: 10px;
			text-align: center;
		}
		.pg-inicial .areaAssistenciaTecnica .areaConteudo article p{
			max-width: 100%;
		}
		.pg-inicial .areaAssistenciaTecnica .areaConteudo article img{
			margin: 25px auto;
		}
		.pg-inicial .areaInfos ul{
			padding: 10px;
		}
	}
	@media(max-width: 767px){
		.pg-produtos .areaProdutos .item{
			max-width: 238px;
		}
		.pg-contato .informacoesContato ul li a{
			padding-left: 0;
			padding: 0 10px;
		}
		.pg-inicial .areaInfos ul li{
			display: block;
			max-width: 100%;
		}
		.correcaoContainer{
			width: 100%;
			padding:0;
		}
		header.topo .navbar-header .navbar-collapse ul li .sub-menu.nav.navbar-nav{
		    position: initial;
			background: #fff;
			top: 44px;
			display: none;
		}
		.hiddenElemento-sm{
			display: none!important;
		}
		header.topo .logo img{
			position: inherit;
			top: inherit;
			left: inherit;
			transform: inherit;
			-webkit-transform: inherit;
			-moz-transform: inherit;
			-o-transform: inherit;
		}
		header.topo{
			text-align: center;
		}
		header.topo .logo{
			display: inline-block;
			padding: 23px 50px;
		}
		header.topo .navbar-toggle{
			display: block;
		}
		.pg-inicial .carrosselDestaque .item{
			min-height: 230px;
		}
		header.topo .navbar-header .navbar-collapse ul{

		    background: #263980;
		    width: 100%;
		    margin: 0;
		    padding: 30px 0;
		    text-align: center;
		}
		header.topo .navbar-header .navbar-collapse ul li{
			display: block;
		}
		header.topo .navbar-header .navbar-collapse ul li a {
			padding: 8px 0;
			font-size: 20px;
		}
		.pg-inicial .areaSobre{
			padding: 10px;
		}
		.pg-inicial .areaInfos{
			padding: 0 20px;
		}
		.pg-inicial .areaInfos ul {
			padding: 1px 0;
			display: inherit;
		    background: #fafafa;
		}
		.pg-inicial .areaInfos ul li img,.pg-inicial .areaInfos ul li h3{
			display: inline-block;
			margin: 0 35px;
		}
		.pg-inicial .areaInfos ul li{
			text-align: center;
			background: #fff;
			margin-bottom: 30px;
			-webkit-box-shadow:  0px 0px 11px 0px rgba(0,0,0,0.12);
			-moz-box-shadow:  0px 0px 11px 0px rgba(0,0,0,0.12);
			box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.12);
		}
		.pg-inicial .areaInfos ul li p{
			font-size: 0;
			height: 0;
			transition: All .5s ease;
			-webkit-transition: All .5s ease;
			-moz-transition: All .5s ease;
			-o-transition: All .5s ease;
			opacity: 0;
			margin-top: 10px;
		}
			.pg-inicial .areaInfos ul li:hover p{
				font-size: 13px;
				height: initial;
				opacity: 1;
				transition: All .5s ease;
				-webkit-transition: All .5s ease;
				-moz-transition: All .5s ease;
				-o-transition: All .5s ease;
			}
		.pg-inicial .areaInfos ul li a{
			display: none;
		}
		.pg-inicial .areaInfos ul li:hover a{
			display: block;
		}
		.pg-inicial .areaDepoimentos,.pg-inicial .areaProdutos button,.pg-inicial .areaProdutos,.pg-inicial .areaNoticias,.pg-inicial .areaFomrularioContato{
			display: none;
		}
		.hiddenColuna,.rodape .mapaSite a:after{
			display: none!important;
		}
		.rodape .mapaSite,.rodape .mapaSite span, .pg-contato .informacoesContato{
			text-align: center;
		}
		.rodape .mapaSite a{
			margin-bottom: 12px;
		}
		.rodape .conteudo,.copyright p,.pg-contato section .informacoesContato p{
			max-width: 100%;
			text-align: center;
		}
		.pg-contato .informacoesContato ul li a:after{
			display:none;
		}
		.rodape .conteudo img{
		    margin: 50px 0 0;
		}
		.conteudoMobile{
			display: block;
		}
			.conteudoMobile a{
				margin: 7px 7px!important;
				font-size: 30px!important;
			}
		.hiddenElemento-sm{
			display: none!important;
		}
		.pg-empresa .areaHistoria h6,.pg-empresa .areaEstrutura h6,.pg-empresa .areaHistoria article p{
			text-align: center;
		}
		.pg-empresa .areaEstrutura .textEstrutura,.pg-assistenciaTecnica .areaLista h6{
			text-align: center;
		}
		.pg-empresa .areaEstrutura .textEstrutura p{
			max-width: 100%;
		}
		.pg-empresa .areaEstrutura .textEstrutura{
			padding: 0;
		}
		.pg-empresa .areaEstrutura{
			padding: 40px 10px 40px;
			background-repeat:inherit!important;
		}
		.pg-empresa .areaEstrutura .carrosselImagemEstrutura{
			position: relative;
			max-width: 600px;
			margin: 20px auto;
		}
		.pg-empresa .areaEstrutura .carrosselImagemEstrutura .item,.pg-assistenciaTecnica .carrosselImagemAssistencia .item{
			height: 350px;
		}
		.pg-assistenciaTecnica .carrosselImagemAssistencia .owl-dots,.pg-empresa .areaEstrutura .carrosselImagemEstrutura .owl-dots,.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .owl-dots{
			background: transparent;
			position: inherit;
			bottom: inherit;
			left: inherit;
			transform: inherit;
			-webkit-transform: inherit;
			-moz-transform: inherit;
			-o-transform: inherit;
			text-align: center;
			margin-top: 50px;
		}
		.pg-empresa .areaEstrutura .carrosselImagemEstrutura .owl-dot span,.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .owl-dot span,.pg-assistenciaTecnica .carrosselImagemAssistencia .owl-dot span{
			width: 15px;
			height: 15px;
			border-color:#2a88d8;
		}
		.pg-empresa .areaHistoria img{
			display: none;
		}
		.pg-empresa .areaEspecialista ul li{
			margin-right: 0;
			margin-left: 0;
			padding: 0 10px;
		}
		.pg .bannerTopo p{
			display: none;
		}
		.pg-assistenciaTecnica .areaTextoassistencia .texto h6{
			text-align: center;
		}
		.pg-assistenciaTecnica .areaTextoassistencia .texto{
			max-width: 100%;
		}
		.pg-assistenciaTecnica .areaTextoassistencia .texto p{
			text-align: center;
		}
		.pg-assistenciaTecnica .carrosselImagemAssistencia{
		    margin-top: 40px;
		    padding-right:0;
		    padding-left: 0;
		}
		.pg-assistenciaTecnica .areaLista .lista{
			padding: 0 10px;
			text-align: center;
		}
		.pg-treinamentos .proximosCursos{
			padding: 20px 20px 70px;
		}
		.pg-treinamentos .proximosCursos .post .link{
			border:none;
			max-width: 465px;
			margin: 0 auto;
			padding-top: 30px;
			text-align: left;
			border-top: solid 2px #edf4fa;
		    height: 95px;
		}
		.pg-treinamentos .proximosCursos .post .link a{
			margin: 0;
		}
		.pg-treinamentos .proximosCursos .data span{
			top: 45px;
			margin: 0 16px;
			transform: inherit;
			-webkit-transform: inherit;
			-moz-transform: inherit;
			-o-transform: inherit;
			padding: 11px 20px;
			font-size: 18px;
		}
		.pg-treinamentos .proximosCursos .post .areaDescricao{
			max-width: 465px;
			margin: 0 auto;
			padding-top: 30px;
		}
		.pg-treinamentos .proximosCursos .post{
			padding: 10px 0 10px 80px;
			max-width: 100%;
		}
		.pg .areaFomrularioContato{
			margin-top: 50px;
		}
		.pg-produto .areaProduto .especificacoes h2{
			text-align: center;
		}
		.pg-produto .areaProduto .especificacoes span{
			display: block;
			text-align: center;
		}
		.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .item{
			max-width: 100%;
		}
		.pg-produto .areaProduto .especificacoes article{
			margin-top: 0;
			max-width: 100%;
			text-align: center;
		}
		.pg-produto .areaProduto .especificacoes .linkBaixarArquivos:before{
			position: inherit;
			left: inherit;
			top: inherit;
			transform: inherit;
			-webkit-transform: inherit;
			-moz-transform: inherit;
			-o-transform: inherit;
			margin: 15px auto;
		}
		.pg-produto .areaProduto .especificacoes .linkOrcamento{
			display: none;
		}
		.pg-produto .areaProduto .especificacoes .carrosselImagemAssistencia .item{
			max-width: 350px;
		}
		.pg-produto .areaProduto .especificacoes .linkBaixarArquivos{
			text-align: center;
			font-size: 20px;
			font-weight: 300;
		}
		.pg-blog .areaBlog .areaPost ul li a figure,.pg-post .areaBlog .areaPost ul li figure{
			max-width: 90%;
			margin: 0 auto;
		}
		.pg-blog .areaBlog .areaPost ul li a .descricaoPost{
			max-width: 90%;
			margin: 0 auto;
		}
		.pg-blog .areaBlog .areaPost ul li a figure .data,.pg-post .areaBlog .areaPost ul li figure .data{
			font-weight: 300;
			padding: 10px 15px;
			letter-spacing: 0;
			font-size: 20px;
		}
		.pg-blog .areaBlog .areaPost ul li a figure .data span,.pg-post .areaBlog .areaPost ul li figure .data span{
			display: inline-block;
			font-size: 20px;
			font-weight: 300;
			letter-spacing: 0px;
		}
		.pg-blog .areaBlog .areaPost ul li a .descricaoPost h2,.pg-post .areaBlog .areaPost ul li .descricaoPost h2{
			font-size: 17px;
		}
		.pg-post .paginador{
			padding: 0 10px;
		}
		.pg .mapaGoogle .desk{
			display: none;
		}
		.pg .mapaGoogle .hiddenNone{
			display: block!important;	
		}


	}
	@media(max-width: 535px){
		.pg .mapaGoogle .desk{
			display: none;
		}
		.pg .mapaGoogle .hiddenNone{
			display: block!important;	
		}
		.pg-inicial .areaInfos ul li img, .pg-inicial .areaInfos ul li h3{
			margin: 10px 15px;
			font-size: 17px;	
		}
		.pg-produtos .areaProdutos{
			margin-top: 15px;
		}
		.pg-treinamentos .proximosCursos .data span{
			margin: 0;
			position: inherit;
		}
		.pg-treinamentos .proximosCursos .post{
		    padding: 10px 0 10px 10px;
		}
		.pg-treinamentos .proximosCursos{
			padding: 20px 10px 70px;
		}
		.areaFomrularioContato .col-sm-3{
			    padding-left:0!important;
		}
		section>h6, h5{
			font-size: 22px;
		}
		.pg-produtos .areaProdutos .item{
			max-width: 100%;
			margin:20px 0;
		}
		.pg-produtos .areaProdutos .item p{
			max-width: 100%;
		}
	}